.card-wrap{
  min-height: 100vh;
}
.r-circle{
  padding: 55px 70px;
}
.text-right{
  text-align: right;
}
.result{
  height: 100%;
}

.r-head, .s-head{
  font-size: 20px;
}
.result {
  background: linear-gradient(to bottom, #6743ff, #332cea);
}
.r-circle{
  background: linear-gradient(to bottom, #4a23cc, #4b23cc20);
}
.r-circle h1{
  font-size: 50px;
}
.card-wrap, .result, .ll {
  border-radius: 30px;
}

@media (max-width: 768px) {
  .card-wrap, .result, .ll{
    border-radius: 0px 0px 30px 30px;
  }
}